/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f9fc;
    padding: 10px;
}

/* Calculator Container */
.calculator {
    background-color: #ffffff;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

/* Header */
h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #385b83;
}

/* Logo Styling */
.powered-by {
    font-size: 0.9em;
    color: #666;
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 20px;
}

.powered-by img {
    width: 110px;
    vertical-align: middle;
}

/* Table Styles */
.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
    font-size: 1em;
}

.table th {
    background-color: #f0f4f8;
    font-weight: bold;
}

.table .section-header {
    background-color: #385b83;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
}

/* Calculated Fields */
.calculated {
    color: #385299;
    font-weight: bold;
}

/* Final Result Style */
.final-result {
    text-align: center;
    color: #28a745;
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #e9ffcd;
}
.download-template {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    background-color: #385b83;
    border-radius: 5px;
    text-decoration: none;
}

.download-template:hover {
    background-color: #1a395d;
    color: #fff;
}
.upload-button {
    background-color: #385b83;
    color: #fff;
    /* padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer; */
}
.upload-button:hover {
    background-color: #1b385a;
    color: #fff;
}

.download-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    
    width: 100%;
}
.download-button:hover{
    background-color: #16812f;
    color: #fff;
}